.idea/
*.class
target/
*.iml
history/
bin/
.project
.settings/
.classpath
*.pyc
*.stdout.txt
*.stderr.txt
*.pickle
temp/
*.DS_Store
slurm-*.out
.env
nohup.out
**/__pycache__/
.vscode/
.pytest_cache/
.mypy_cache/
experiments/

floodns-basic-sim.jar
NetBench.jar

runs/**/logs*/
runs/**/shared_memory_*.json
runs/**/connection_comparison.txt
runs/**/job_comparison.txt
cdfs/**/*.cdf
plots/**/*.png

experiments/**/logs*/
experiments/**/shared_memory_*.json
experiments/**/flow_comparison.txt
experiments/**/job_comparison.txt

examples/
remote/
**/*.pkl
**/*.mps

logs/
output