.idea/
*.class
target/
*.iml
history/
bin/
.project
.settings/
.classpath
*.pyc
*.stdout.txt
*.stderr.txt
*.pickle
temp/
ml/flux_dataset/
*.DS_Store
slurm-*.out
.env
wandb/
ml/outputs/
ml/data/
nohup.out
**/*-seed_*.properties
**/__pycache__/
.vscode/
.pytest_cache/
.mypy_cache/
experiments/
datasets/
logs/
output
floodns-basic-sim.jar
runs/**/logs*/
runs/**/shared_memory_*.json
runs/**/connection_comparison.txt
runs/**/job_comparison.txt
results/**/*.cdf
results/**/*.png
examples/
remote/
cdfs/
plots/